
@{
    ViewBag.Title = "Invalida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Su tarjeta no es valida deberá registrase de nuevo con una nueva tarjeta</h2>
@using (Html.BeginForm("BorraUser", "Clientes", FormMethod.Get))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Continuar" class="btn btn-default"/>
        </div>
    </div>
}

