@using Papeleria2.Models
@{
    ViewBag.Title = "BuscaProd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Lista de productos con nombre @ViewBag.SearchKey</h3>
<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>Nombre</th>
        <th>Foto</th>
        <th>Precio</th>
        <th>Comprar</th>
    </tr>
    @foreach (Productos producto in ViewBag.Listado)
    {
    <tr>
        <td>@producto.nombre</td>
        <td><img src="~/Content/img/productos/@producto.imagen" width="60"/></td>
        <td>@producto.precio</td>
        <td align="center">
            <a href="@Url.Action("Comprar", "Carro", new {id = producto.id })"></a>
        </td>

    </tr>
    }
</table>
