@model IEnumerable<Papeleria2.Models.Categorias>
@{
    ViewBag.Title = "Home Page";
}


<section class="contenedor">
    <div class="contenedor-header">
        <div class="textos-header">
            <h1>Bienvenido a nuestra Papeleria!!!!</h1>
            <p>Todo lo que tu necesitas a los mejores precios</p>
            <a href="#">Empezar</a>
        </div>
        <img src="~/Content/img/pape.png" />
    </div>
</section>

<section class="contenedor-flex">
    <div class="contenedor-categoria">
        <h1>Categorias</h1>
        @foreach (var item in Model)
        {
            <div class="carta">
                <a href="@Url.Action("prodCategoria", "Catalogo", new { idCat = @item.id, nombre = @item.nombre })">
                    <div class="carta-body">
                        <h2>@item.nombre</h2>
                    </div>
                    <div class="carta-img">
                        <img src="~/Content/img/pape.png" />
                    </div>
                </a>
            </div>
        }
            
        </div>
</section>

<section class="contenedor-flex">
    <div class="contenedor-producto">
        <h1>Productos</h1>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
                <div class="carta-body">
                    <h2>Libretas de colores</h2>
                    <h3>Precio</h3>
                </div>
            </a>
        </div>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
                <div class="carta-body">
                    <h2>Libretas de colores</h2>
                    <h3>Precio</h3>
                </div>
            </a>
        </div>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
                <div class="carta-body">
                    <h2>Libretas de colores</h2>
                    <h3>Precio</h3>
                </div>
            </a>
        </div>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
                <div class="carta-body">
                    <h2>Libretas de colores</h2>
                    <h3>Precio</h3>
                </div>
            </a>
        </div>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
                <div class="carta-body">
                    <h2>Libretas de colores</h2>
                    <h3>Precio</h3>
                </div>
            </a>
        </div>
    </div>
</section>