@{
    ViewBag.Title = "Home Page";
}


<section class="container2">
    <div class="container2-header">
        <div class="text-header">
            <h1>Bienvenido a nuestra Papeleria!!!!</h1>
            <p>Todo lo que tu necesitas a los mejores precios</p>
            <a href="#">Empezar</a>
        </div>
        <img src="~/Content/img/pape.png" />
    </div>
</section>


<section class="container2-flex">
    <div class="container2-category">
        <h1>Categorias</h1>
        <div class="card">
            <div class="card-img">
                <img src="~/Content/img/pape.png" />
            </div>
            <div class="card-body">
                <h2>Libretas</h2>
                <h4>$ 150</h4>
                <p>Libreta negra con blanco 200 hojas</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="~/Content/img/pape.png" />
            </div>
            <div class="card-body">
                <h2>Libretas</h2>
                <h4>$ 150</h4>
                <p>Libreta negra con blanco 200 hojas</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="~/Content/img/pape.png" />
            </div>
            <div class="card-body">
                <h2>Libretas</h2>
                <h4>$ 150</h4>
                <p>Libreta negra con blanco 200 hojas</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="~/Content/img/pape.png" />
            </div>
            <div class="card-body">
                <h2>Libretas</h2>
                <h4>$ 150</h4>
                <p>Libreta negra con blanco 200 hojas</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="~/Content/img/pape.png" />
            </div>
            <div class="card-body">
                <h2>Libretas</h2>
                <h4>$ 150</h4>
                <p>Libreta negra con blanco 200 hojas</p>
            </div>
        </div>
    </div>
</section>