@{
    ViewBag.Title = "Home Page";
}


<section class="contenedor">
    <div class="contenedor-header">
        <div class="textos-header">
            <h1>Bienvenido a nuestra Papeleria!!!!</h1>
            <p>Todo lo que tu necesitas a los mejores precios</p>
            <a href="#">Empezar</a>
        </div>
        <img src="~/Content/img/pape.png" />
    </div>
</section>

<section class="contenedor-flex">
    <div class="contenedor-categoria">
        <h1>Categorias</h1>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-body">
                    <h2>Libretas de colores</h2>
                </div>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
            </a>
        </div>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-body">
                    <h2>Lapices</h2>
                </div>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
            </a>
        </div>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-body">
                    <h2>Reglas</h2>
                </div>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
            </a>
        </div>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-body">
                    <h2>Borradores grandes</h2>
                </div>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
            </a>
        </div>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-body">
                    <h2>Bibliografias</h2>
                </div>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
            </a>
        </div>
    </div>
</section>

<section class="contenedor-flex">
    <div class="contenedor-producto">
        <h1>Productos</h1>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
                <div class="carta-body">
                    <h2>Libretas de colores</h2>
                    <h3>Precio</h3>
                </div>
            </a>
        </div>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
                <div class="carta-body">
                    <h2>Libretas de colores</h2>
                    <h3>Precio</h3>
                </div>
            </a>
        </div>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
                <div class="carta-body">
                    <h2>Libretas de colores</h2>
                    <h3>Precio</h3>
                </div>
            </a>
        </div>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
                <div class="carta-body">
                    <h2>Libretas de colores</h2>
                    <h3>Precio</h3>
                </div>
            </a>
        </div>
        <div class="carta">
            <a href='Url.Action("prodCategoria", "Catalogo", new {idCat = 1})'>
                <div class="carta-img">
                    <img src="~/Content/img/pape.png" />
                </div>
                <div class="carta-body">
                    <h2>Libretas de colores</h2>
                    <h3>Precio</h3>
                </div>
            </a>
        </div>
    </div>
</section>