
@{
    ViewBag.Title = "pagoNoAceptado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="contenedor-general">
    <div class="contenido-cuerpo">
        <h2>Lo sentimos su pago no fue aceptado elija otra forma de pago</h2>
        @using (Html.BeginForm("CrearOrden", "Pago", FormMethod.Get))
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Continuar" class="boton-general" />
                </div>

            </div>
        }
    </div>
</section>
