
@{
    ViewBag.Title = "pagoPaypal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idClient = Convert.ToInt32(Session["idDir"].ToString());
    String idDir = Session["idClient"].ToString();
}

<section class="contenedor-general">
    <div class="contenido-cuerpo">

        <h2>PayPal</h2>

        <form action="/action_page.php" style="margin:auto">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" name="email" />
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" placeholder="Contraseña" name="pwd" />
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="remember" />Recordar</label>
            </div>
            <div class="boton-g">
                <a href=@Url.Action("pagandoPaypal","Pago", new { idC = idClient, idD = idDir})>Entrar</a>
            </div>
        </form>

    </div>
</section>