
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}
<section class="contenedor-general">
    <div class="contenido-cuerpo contenedor-header2">
        @{
            DateTime dia = DateTime.Now;
            var hora = dia.Hour;
            string mensaje = "";
            if (hora < 12)
            {
                mensaje = "Buenos días: ";
            }
            if ((hora >= 12) && (hora < 19))
            {
                mensaje = "Buenas tardes: ";
            }
            if (hora >= 19)
            {
                mensaje = "Buenas noches: ";
            }

            string name = @Session["usr"].ToString();
        }
        <div class="textos">
            <h1>Bienvenido a tu inicio!</h1>
            <p>@mensaje  @name </p>
        </div>
        <img src="~/Content/img/pape.png" />

    </div>
</section>
