* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.contenedor {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

    .contenedor h1 {
        font-size: 59px;
    }

.contenedor-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .contenedor-header > img {
        width: 500px;
        animation: ease-in img-animate 1s;
    }

@keyframes img-animate {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.textos-header {
    margin: 0 0 0 30px;
}

.contenedor-header p {
    font-size: 24px;
    margin-top: 14px;
    color: #3A3A3A;
}

.contenedor-header a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #23475F;
    text-align: center;
    color: #FFF;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(35,71,95,.46);
    transition: .5s ease-in-out;
}

    .contenedor-header a:hover {
        background: #D30C28;
        color: #FFF;
        box-shadow: 0 8px 32px rgba(211,12,40,.46);
    }




.contenedor-categoria {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

    .contenedor-categoria h1 {
        width: 100%;
        font-size: 40px;
        color: #3A3A3A;
        margin: 50px 0;
    }

    .contenedor-categoria .carta {
        width: 21%;
        height: 350px;
        border: 2px solid #23475F;
        border-radius: 10px;
        margin: 0 25px 60px 0;
        background: #FFF;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

        .contenedor-categoria .carta > a {
            text-decoration: none;
        }

        .contenedor-categoria .carta:hover {
            transform: scale(1.1);
            box-shadow: 0 8px 20px rgba(189,140,53,1);
        }

    .contenedor-categoria .carta-img {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .contenedor-categoria .carta-img img {
            width: 100%;
        }

    .contenedor-categoria .carta-body {
        padding: 15px;
        height: 30%;
        width: 100%;
        background: rgba(189,140,53,.8);
        border-radius: 7px;
    }

        .contenedor-categoria .carta-body h2 {
            text-align: center;
            color: #23475F;
            font-size: 30px;
            margin: 5px;
        }

.contenedor-flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgba(200,200,200,.5);
}

.contenedor-flex-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}


/* Menu Navegar */

.contenedor-navegar {
    width: 90%;
    max-width: 1220px;
    margin: 0 50px;
    overflow: hidden;
}

header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

.navegador {
    width: 100%;
    height: 80px;
    background: #23475F;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.navegar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 40px;
}

    .navegar .logo-navegar {
        height: 80px;
    }

        .navegar .logo-navegar img {
            height: 100%;
            vertical-align: top;
        }


    .navegar .links-navegar {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

.ul-li {
    list-style: none;
}

.navegar .links-navegar .navegar-a {
    height: 80px;
    width: 135px;
    cursor: pointer;
}

    .navegar .links-navegar .navegar-a .div-a, .navegar .img-navegar {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.navegar .img-navegar {
    width: 50px;
    height: 50px;
}

    .navegar .img-navegar .div-img img {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        vertical-align: top;
    }

.navegar .links-navegar .navegar-a .div-a > a {
    color: #DDD;
    text-decoration: none;
    font-size: 24px;
}

.navegar .img-navegar .div-i {
    height: 80px;
    margin-right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .navegar .img-navegar .div-i i {
        color: #DDD;
        text-decoration: none;
        font-size: 24px;
    }

.navegar-a ul, .img-navegar ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.navegar-a li a, .img-navegar li a {
    background: #D30C28;
    color: #DDD;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 18px;
    display: block;
    text-align: center;
}

.navegar-a:hover ul, .navegar-i:hover ul {
    display: block;
}

.navegar-a:hover li a, .navegar-i:hover li a {
    border-bottom: 3px solid #23475F;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}




.contenedor-tabla {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

    .contenedor-tabla .contenido-tabla {
        width: 80%;
    }

        .contenedor-tabla .contenido-tabla > h2 {
            text-align: center;
            font-size: 59px;
        }

        .contenedor-tabla .contenido-tabla > h3 {
            margin-top: 40px;
            font-size: 40px;
        }

        .contenedor-tabla .contenido-tabla .boton {
            margin: 28px 0 0 0;
            width: 150px;
            display: inline-block;
            text-align: center;
            color: #FFF;
            padding: 12px 0;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            border-radius: 5px;
            transition: .5s ease-in-out;
            cursor: pointer;
        }

        .contenedor-tabla .contenido-tabla > a {
            background: #D30C28;
        }

        .contenedor-tabla .contenido-tabla p {
            float: right;
        }

            .contenedor-tabla .contenido-tabla p > a {
                background: #23475F;
                text-align: right;
            }

                .contenedor-tabla .contenido-tabla > a:hover, .contenedor-tabla .contenido-tabla p > a:hover {
                    background: #BD8C35;
                    box-shadow: 2px 2px 15px rgba(0,0,0,.5);
                }

.tabla {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    min-width: 700px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

    .tabla thead tr {
        background: #23475F;
        color: #FFF;
        font-weight: bold;
        height: 45px;
    }
        .tabla thead tr th {
            text-align: center;
        }

    .tabla tr, .tabla td {
        padding: 12px 15px;
    }

    .tabla tbody tr {
        text-align: left;
        border-bottom: 1px solid #3A3A3A;
    }

        .tabla tbody tr:nth-of-type(even) {
            background: #DDD;
        }

        .tabla tbody tr:last-of-type {
            border-bottom: 2px solid #23475F;
        }

        .tabla tbody tr:active-row {
            font-weight: bold;
            color: #23475F;
        }

        .tabla tbody tr td {
            min-width: 130px;
        }

            .tabla tbody tr td img {
                width: 130px;
            }

            .tabla tbody tr td a {
                width: 150px;
                display: inline-block;
                text-align: center;
                background: #3A3A3A;
                color: #FFF;
                padding: 12px 0;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;
                border-radius: 5px;
                transition: .5s ease-in-out;
                cursor: pointer;
            }



.contenedor-general {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .contenedor-general .contenido-cuerpo {
        width: 80%;
    }

.contenedor-producto {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

    .contenedor-producto h1 {
        width: 100%;
        font-size: 40px;
        color: #3A3A3A;
        margin: 50px 0;
    }

    .contenedor-producto .carta {
        width: 21%;
        height: 350px;
        border: 2px solid #23475F;
        border-radius: 10px;
        margin: 0 25px 60px 0;
        background: #FFF;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

        .contenedor-producto .carta > a {
            text-decoration: none;
        }

        .contenedor-producto .carta:hover {
            transform: scale(1.1);
            box-shadow: 0 8px 20px rgba(189,140,53,1);
        }

    .contenedor-producto .carta-img {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .contenedor-producto .carta-img img {
            width: 100%;
        }

    .contenedor-producto .carta-body {
        padding: 15px;
        height: 30%;
        width: 100%;
        background: -webkit-linear-gradient(top, #ffffff 0%, #BD8C35 100%);
        background: linear-gradient(top, #ffffff 0%, #BD8C35 100%);
        border-radius: 0 0 7px 7px;
    }

        .contenedor-producto .carta-body h2 {
            text-align: center;
            color: #3A3A3A;
            font-size: 20px;
            margin: 3px;
        }

        .contenedor-producto .carta-body h3 {
            text-align: center;
            color: #23475F;
            font-size: 20px;
        }



.boton-general {
    min-width: 150px;
    display: inline-block;
    text-align: center;
    background: #23475F;
    color: #FFF;
    padding: 12px 0;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    transition: .5s ease-in-out;
    cursor: pointer;
}

    .boton-general:hover {
        background: #BD8C35;
        box-shadow: 2px 2px 15px rgba(0,0,0,.5);
    }